@import "ant-design-vue/dist/antd.css";

$background-base: #fcfcfc;
$color-base: #040000cc;

.dark {
  @import "@/assets/scss/antd-dark";

  $background-base: #1f1f1f;
  $color-base: #fcffffcc;

  body, .ant-layout, .ant-layout-sider {
    background-color: $background-base !important;
    color: $color-base !important;
  }

  .ant-layout-sider-trigger {
    background-color: #141414 !important;
    color: $color-base !important;
  }

  .ant-select, .ant-btn.ant-btn-dashed {
    background-color: $background-base !important;
  }

}

body, .ant-layout {
  background-color: $background-base !important;
  color: $color-base !important;
}

.ant-layout-sider, .ant-layout-sider-trigger {
  background-color: $background-base !important;
  color: $color-base !important;
}

/// Correct the centering style of the icon inner button
button.ant-pagination-item-link {
  display: flex !important;
  align-items: center;

  span {
    align-self: center;
    margin: auto;
  }
}

button.ant-btn-with-icon {
  display: flex !important;
  align-items: baseline !important;
}

button {
  .ant-btn-loading-icon {
    display: flex !important;
    justify-content: center !important;
  }
}

.ant-message-custom-content {
  display: flex !important;
  align-items: baseline !important;
}

/// Centralize the icon in the menu item
.ant-menu-item {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
