@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  height: 100% !important;
}

body, .ant-layout {
  background-color: #fcfcfc !important;
  color: rgba(4, 0, 0, 0.8) !important;
}

/// Correct the centering style of the icon inner button
button.ant-pagination-item-link {
  display: flex !important;
  align-items: center;

  span {
    align-self: center;
    margin: auto;
  }
}

button.ant-btn-with-icon {
  display: flex !important;
  align-items: baseline !important;
}

.ant-message-custom-content {
  display: flex !important;
  align-items: baseline !important;
}